server:
  port: 8888

spring:
  application:
    name: platform-config-server

  cloud:
    config:
      server:
        git:
          # GitLab repository URL
          uri: ${GITLAB_REPO_URL:http://192.168.0.99:8929/xz01/springconfig.git}
          # Branch to use
          default-label: ${CONFIG_BRANCH:main}
          # Search paths for configuration files
          search-paths:
            - '{application}'
            - 'config/{application}'
          # Authentication
          username: oauth2
          password: ${GITLAB_TOKEN}
          # Clone on startup
          clone-on-start: true
          # Skip SSL validation (for self-signed certificates)
          skip-ssl-validation: false
          # Timeout settings
          timeout: 10

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh,configserver
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.config: DEBUG
    org.springframework.web: INFO
